<!DOCTYPE html>
<html lang="en">
<div class="page_container">
<head>
    <style>
        body{
            background: #043927;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon"
      type="image/png" 
      href="static/Images/logo/logo_tab.png" >
    <title>EasyScrape</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class = nav_container>
        <a href="/" id="logo_container">
            <img class = "nav_logo"
                src="{{ url_for('static', filename='images/logo/logo_nav.png') }}" 
                alt="Easy Scrape">
            <p class="logo_title">EasyScrape</p>
        </a>
        <div class="nav_page_container">
            <a href="{{ url_for('render_scrape_form') }}" class="nav_page">Scrape</a>
            <a href="{{ url_for('render_help') }}" class="nav_page">Help</a>
            <a href="{{ url_for('render_about') }}" class="nav_page">About</a>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <div id="footer-container">
        <div>
            <span>Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a></span>
            <span> and <a href="https://www.flaticon.com/authors/mavadee" title="mavadee"> mavadee </a></span>
            <span> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></span>
        </div>
    </div>
</footer>
</div>
</html>
